.mixin.out/
asm/
crash-reports/
dumps/
local/
logs/
mods/
natives/
resourcepacks/
saves/
screenshots/
shaderpacks/
shapshots-server/
/*.dat
/*.dll
/config.json
/crafttweaker.log
/*.txt
/usernamecache.json
/usercache.json
/hotbar.nbt
config/fantasticlib/reference/recipes.txt
config/fantasticlib/reference/recipes.txt
config/fantasticlib/reference/players.txt
config/fantasticlib/reference/recipes.txt
config/fantasticlib/reference/oredict.txt
config/fantasticlib/reference/items.txt
config/fantasticlib/reference/entities.txt
config/fantasticlib/reference/blockstates.txt
config/fantasticlib/reference/blocks.txt
config/buildcraft/detailed.properties
config/jei/worldSettings.cfg
config/splash.properties
config/fantasticlib/reference/blocks.txt
config/fantasticlib/reference/blocks.txt
config/fantasticlib/reference/blocks.txt
config/fantasticlib/reference/entities.txt
config/fantasticlib/reference/items.txt
config/fantasticlib/reference/oredict.txt
config/fantasticlib/reference/recipes.txt
config/fantasticlib/reference/blockstates.txt
config/calculator/AtomicMultiplier-BlackList.cfg
config/calculator/Blocks-BlackList.cfg
config/calculator/Calculator-Config.cfg
config/calculator/Items-BlackList.cfg
