.mixin.out/
asm/
crash-reports/
dumps/
local/
logs/
mods/
natives/
resourcepacks/
saves/
screenshots/
shaderpacks/
shapshots-server/
/*.dat
/*.dll
/config.json
/crafttweaker.log
/*.txt
/usernamecache.json
/usercache.json
/hotbar.nbt