.mixin.out/
/*.dat
/*.dll
/*.txt
Installation*.zip
overrides/config.json
overrides/crafttweaker.log
overrides/hotbar.nbt
overrides/usercache.json
overrides/usernamecache.json
overrides/asm/
overrides/config/buildcraft/detailed.properties
overrides/config/calculator/AtomicMultiplier-BlackList.cfg
overrides/config/calculator/Blocks-BlackList.cfg
overrides/config/calculator/Calculator-Config.cfg
overrides/config/calculator/Items-BlackList.cfg
overrides/config/fantasticlib/reference/blocks.txt
overrides/config/fantasticlib/reference/blockstates.txt
overrides/config/fantasticlib/reference/entities.txt
overrides/config/fantasticlib/reference/items.txt
overrides/config/fantasticlib/reference/oredict.txt
overrides/config/fantasticlib/reference/players.txt
overrides/config/fantasticlib/reference/recipes.txt
overrides/config/InvTweaks/InvTweaks.cfg
overrides/config/jei/worldSettings.cfg
overrides/config/splash.properties
overrides/crash-reports/
overrides/dumps/
overrides/local/
overrides/logs/
overrides/mods/
overrides/natives/
overrides/resourcepacks/
overrides/saves/
overrides/screenshots/
overrides/shaderpacks/
overrides/shapshots-server/
modlist.html
